<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a href="/"><img src="images/logo.png" class="img-responsive" width="200px" id="navLogo"></a>
    <button type="button" class="btn-logout btn btn-default navbar-btn" data-target="#logOut">Log out</button>
  </div>
</nav>