<!DOCTYPE html>
<html>
 {{> head}}
<body>

{{{ body }}}
{{> footer}}


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <!-- Our script files -->
    <script src="/js/user.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/recipes.js"></script>
    <script src="/js/stats.js"></script>
</body>
</html>